

button{
    width: calc(100rem / var(--global-baseline));
    height: calc(40rem / var(--global-baseline));
    border-radius: calc(50rem / var(--global-baseline));
    font-size: calc(16rem / var(--global-baseline));
    font-weight: 600;
}


h3{
    font-size: calc(16rem / var(--global-baseline));
    font-weight: 600;
}

/*
    Component: player grid
    ---
    grid of players
*/
.c-grid-players{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: calc(24rem / var(--global-baseline));
    margin-bottom: calc(24rem / var(--global-baseline));
    padding: 0;
}


/*
    Component: card player
    ---
    card with player info
*/

.c-card-player{
    background-color: #fff;
    height: calc(200rem / var(--global-baseline));
    width: calc(200rem / var(--global-baseline));
}

.c-card-player__svg{
    height: calc(160rem / var(--global-baseline));
    width: calc(200rem / var(--global-baseline));
    display: block;
}

.c-card-player__footer{
    height: calc(40rem / var(--global-baseline));
    background-color: var(--global-background-footer-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.c-card-player__Name{
    color: white;
    background-color: transparent;
    border: none;
    /*remove input texture when clicked*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    font-size: calc(20rem / var(--global-baseline))x;
    font-weight: 600;
    font-family: 'Oxygen', sans-serif;
    width: 60%;
}

.c-card-player__Name::selection{
    background-color: white;
    color: var(--global-background-footer-color);
}

.c-card-player__Name:focus{
    outline: none;
}

.c-player-1__svg{
    fill: var(--global-player1-color);
}

.c-player-2__svg{
    fill: var(--global-player2-color);
}

.u-align-content-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.u-center-horizontal
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type=color]{
    width: calc(200rem / var(--global-baseline));
    height: calc(60rem / var(--global-baseline));
    padding: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
}

input[type=color]::-webkit-color-swatch{
    border-radius: calc(15rem / var(--global-baseline));
    border: none;
}

.c-edit-icon
{
    width: calc(28rem / var(--global-baseline));
    height: calc(28rem / var(--global-baseline));
    fill: white;
    cursor: pointer;
}

.mobile{
    display: grid;
}
.tabledVertical{
    display: none;
}
.tabledHorizontal{
    display: none;
}
.laptop{
    display: none;
}


@media (min-width: 768px) {
    .mobile{
        display: none;
    }
    .tabledVertical{
        display: grid;
    }
    .c-card-player{
        /* vertical align items */
        display: flex;
        flex-direction: row;
        width: calc(400rem / var(--global-baseline));
        height: calc(240rem / var(--global-baseline));
    }
    .c-card-player-left{
        background-color: var(--global-color-alpha);
        width: calc(240rem / var(--global-baseline));
        height: calc(240rem / var(--global-baseline));
        /* center elements */
        display: inline-block;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .c-card-player-right{
        width: calc(160rem / var(--global-baseline));
        height: calc(240rem / var(--global-baseline));
        display: inline-block;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .c-card-player-center
    {
        width: calc(240rem / var(--global-baseline));
        height: calc(240rem / var(--global-baseline));
        display: inline-block;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .c-card-player-center > h2{
        color: var(--global-color-alpha);
    }
    .c-card-player-side{
        width: calc(100rem / var(--global-baseline));
        height: calc(240rem / var(--global-baseline));
        display: inline-block;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }
    .c-card-player-side{
        background-color: var(--global-color-alpha);
    }
    .c-card-player-side > *{
        color: var(--global-color-white);
    }
    .c-card-player__svg{
        width: calc(160rem / var(--global-baseline));
        height: calc(240rem / var(--global-baseline));
    }
    h2{
        color: var(--global-color-white);
    }
}

@media (min-width: 1024px)
{
    .mobile{
        display: none;
    }
    .tabledVertical{
        display: none;
    }
    .tabledHorizontal{
        display: inline-block;
    }
    .c-players-row
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: calc(60rem / var(--global-baseline));
    }
    .laptop{
        display: none;
    }
    .c-players-row > *{
        margin: 0 calc(10rem / var(--global-baseline));
    }
}

@media (min-width: 1440px) {
    .mobile{
        display: none;
    }
    .tabledVertical{
        display: none;
    }
    .tabledHorizontal{
        display: none;
    }
    .laptop
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: calc(60rem / var(--global-baseline));
    }
    .c-players{
        height: 70vh; /* 100vh - 15(header) - 15(cuz center)*/
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}