:root {
    --global-baseline: 18;
}

p{
    font-size: calc(12rem / var(--global-baseline));
    line-height: calc(15rem / var(--global-baseline));
    margin-bottom: calc(8rem / var(--global-baseline));
}

h1{
    font-size: calc(28rem / var(--global-baseline));
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2{
    font-size: calc(24rem / var(--global-baseline));
    font-weight: bold;
    line-height: calc(31rem / var(--global-baseline));
    margin-bottom: calc(12rem / var(--global-baseline));
}

h3{
    font-size: calc(18rem / var(--global-baseline));
    font-weight: bold;
    line-height: calc(22rem / var(--global-baseline));
    margin-bottom: calc(4rem / var(--global-baseline));
}

img{
    min-width: calc(264rem / var(--global-baseline));
    height: calc(264rem / var(--global-baseline));
    margin-bottom: calc(16rem / var(--global-baseline));
    box-shadow: calc(10rem / var(--global-baseline)) calc(10rem / var(--global-baseline)) calc(20rem / var(--global-baseline)) #ccc;
    -moz-border-radius: calc(25rem / var(--global-baseline));
    -webkit-border-radius: calc(25rem / var(--global-baseline));
    border-radius: calc(25rem / var(--global-baseline));
}

.c-card-info{
    display: block;
    width: calc(280rem / var(--global-baseline));
    height: auto;
    padding: calc(8rem / var(--global-baseline)) calc(8rem / var(--global-baseline)) calc(12rem / var(--global-baseline)) calc(8rem / var(--global-baseline));
    margin-bottom: calc(36rem / var(--global-baseline));
}


@media (min-width: 460px) and (max-width: 767px) {
    .c-card-info{
        margin: calc(12rem / var(--global-baseline));
        width: 80vw;
    }
    h2{
        font-size: calc(24rem / var(--global-baseline));
    }
    h3{
        font-size: calc(20rem / var(--global-baseline));
    }
    p{
        font-size: calc(14rem / var(--global-baseline));
        line-height: calc(18rem / var(--global-baseline));
        display: inline-block;
    }
    img{
        min-width: calc(150rem / var(--global-baseline));
        height: calc(150rem / var(--global-baseline));
        margin-bottom: 0;
        display: inline-block;
    }
    .c-placeholder-info{
        display: flex;
        justify-content: space-evenly;
        gap: calc(8rem / var(--global-baseline));
        align-items: center;
    }
    .c-placeholder-parapraph{
        display: inline-block;
    }
    .o-reverse{
        display: flex;
        flex-direction: row-reverse;
    }
}




@media (min-width: 768px) {
    p{
        font-size: calc(16rem / var(--global-baseline));
        line-height: calc(20rem / var(--global-baseline));
    }
    h2{
        font-size: calc(28rem / var(--global-baseline));
    }
    h3{
        font-size: calc(24rem / var(--global-baseline));
    }
    .c-card-info{
        padding: calc(20rem / var(--global-baseline));
        width: 80vw;
    }
    .c-card-info--content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: calc(72rem / var(--global-baseline));
    }
    img{
        min-width: calc(150rem / var(--global-baseline));
        height: auto;
        margin-bottom: 0;
        object-fit: contain;
    }
    .o-reverse{
        display: flex;
        flex-direction: column-reverse;
    }
    .c-placeholder-info{
        justify-content: space-evenly;
    }
}