:root {
    --global-baseline: 18;
}

body{
    font-family: 'Oxygen', sans-serif;
}

h2{
    margin-top: calc(12rem / var(--global-baseline));
}

.c-grid-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(12rem / var(--global-baseline));
    margin-bottom: calc(12rem / var(--global-baseline));
    padding: 0;

}


.c-card{
    background-color: #fff;
    padding: calc(8rem / var(--global-baseline));
    height: calc(140rem / var(--global-baseline));
    width: calc(140rem / var(--global-baseline));

}

.c-card__header{
    height: 20%;
    /* center */
    text-align: center;
}

.c-card__body{
    height: 60%;
    /* center */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: calc(18rem / var(--global-baseline));
    font-weight: 600;
}

h3{
    font-size: calc(16rem / var(--global-baseline));
    line-height: calc(20rem / var(--global-baseline));
    font-weight: 400;
    margin-bottom: 0;
}

.u-grid-column-span-2{
    grid-column: span 2;
    width: auto;
    margin: 0;
    padding: 0 calc(8rem / var(--global-baseline)) 0 0;
}

.c-card__svg{
    height: calc(80rem / var(--global-baseline));
    width: 100%;
    display: block;
}

.u-disabled{
    display: none;
}

.c-card-gamemode__svg{
    height: 80%;
    display: flex;
    margin: auto;
}

.c-card-gamemode__svg:hover {
    cursor: default;
    padding: 0;
}

.c-game-over{
    position: absolute;
    color: rgb(0, 199, 0);
    font-size: 48px;
    line-height: 54px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    width: 260px;
    top: calc(50% - 27px);
    left: calc(50% - 130px);
    z-index: 1;
}

@media (min-width: 768px) {
    .c-card{
        background-color: #fff;
        margin: 0;
        padding: 0;
        height: calc(180rem / var(--global-baseline));
        width: calc(180rem / var(--global-baseline));
        /* center */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    
    }
    .u-grid-column-span-2{
        grid-column: span 2;
        width: auto;
        margin: 0;
        padding: 0 calc(8rem / var(--global-baseline)) 0 0;
    }
    h2{
        font-size: calc(24rem / var(--global-baseline));
        font-weight: 600;
        margin-bottom: calc(20rem / var(--global-baseline));
    }
    h3{
        font-size: calc(20rem / var(--global-baseline));
        line-height: calc(24rem / var(--global-baseline));
        font-weight: 400;
    }
}

@media (min-width: 1024px) {
    .c-card{
        background-color: #fff;
        margin: 0;
        padding: 0;
        height: calc(240rem / var(--global-baseline));
        width: calc(240rem / var(--global-baseline));
    }
    .c-grid-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: calc(32rem / var(--global-baseline));
        margin-bottom: calc(32rem / var(--global-baseline));
        padding: 0;
    }
    .u-grid-column-span-2{
        grid-column: span 2;
        width: auto;
        margin: 0;
        padding: 0 calc(8rem / var(--global-baseline)) 0 0;
    }
    .c-card__svg{
        height: calc(160rem / var(--global-baseline));
        width: calc(240rem / var(--global-baseline));
        display: block;
    }

    h2{
        font-size: calc(28rem / var(--global-baseline));
        font-weight: 600;
        margin-bottom: calc(20rem / var(--global-baseline));
    }
    h3{
        font-size: calc(24rem / var(--global-baseline));
        line-height: calc(26rem / var(--global-baseline));
        font-weight: 400;
    }

    .c-game-over{
        position: absolute;
        color: rgb(0, 199, 0);
        font-size: 58px;
        line-height: 62px;
        font-weight: 600;
        text-align: center;
        margin: auto;
        width: 340px;
        top: calc(50% - 31px);
        left: calc(50% - 170px);
        z-index: 1;
    }
}

@media (min-width: 1440px)
{
    .c-card{
        background-color: #fff;
        margin: 0;
        padding: 0;
        height: calc(280rem / var(--global-baseline));
        width: calc(280rem / var(--global-baseline));
    }
    .c-grid-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: calc(32rem / var(--global-baseline));
        margin-bottom: 0;
        padding: 0;
    }
    .u-grid-column-span-2{
        grid-column: 2/4;
        width: auto;
        margin: 0;
        padding: 0 calc(8rem / var(--global-baseline)) 0 0;
    }
    .c-card__svg{
        height: calc(200rem / var(--global-baseline));
        width: calc(300rem / var(--global-baseline));
        display: block;
    }

    h2{
        font-size: calc(32rem / var(--global-baseline));
        font-weight: 600;
        margin-bottom: calc(20rem / var(--global-baseline));
    }
    h3{
        font-size: calc(28rem / var(--global-baseline));
        line-height: calc(30rem / var(--global-baseline));
        font-weight: 400;
    }
}


.c-grid-palen{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    margin: 0;
    padding: 0;
    width: calc(292rem / var(--global-baseline));
}

.c-grid-palen > img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


@media (min-width: 768px) {
    .c-grid-palen{
        width: calc(372rem / var(--global-baseline));
    }
}

@media (min-width: 1024px) {
    .c-grid-palen{
        width: calc(512rem / var(--global-baseline));
    }
}

@media (min-width: 1440px) {
    .c-grid-palen{
        width: calc(592rem / var(--global-baseline));
    }
}
