select{
    width: 100%;
    height: calc(40rem / var(--global-baseline));
    text-align: center;
    font-size: calc(24rem / var(--global-baseline));
    border-radius: calc(4rem / var(--global-baseline));
    margin-bottom: calc(12rem / var(--global-baseline));
}

.c-card-scorebord{
    background-color: #fff;
    border: calc(1rem / var(--global-baseline)) solid #e5e5e5;
    border-radius: calc(4rem / var(--global-baseline));
    box-shadow: 0 calc(1rem / var(--global-baseline)) calc(1rem / var(--global-baseline)) rgba(0,0,0,.05);
    margin-bottom: calc(20rem / var(--global-baseline));
    padding: calc(15rem / var(--global-baseline));
    position: relative;
    width: 100%;
    max-width: calc(640rem / var(--global-baseline));
    height: calc(500rem / var(--global-baseline));
    overflow-y: scroll;
}

.u-align-center{
    display: flex;
    justify-content: center;
}

.c-header-gamemodes{
    overflow: auto;
    white-space: nowrap;
    margin-bottom: calc(12rem / var(--global-baseline));
}

.c-header-gamemode{
    background-color: var(--global-color-alpha-2);
    opacity: 0.9;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0 calc(12rem / var(--global-baseline));
    margin-right: calc(8rem / var(--global-baseline));
    text-decoration: none;
    border-radius: calc(4rem / var(--global-baseline));
    font-size: calc(16rem / var(--global-baseline));
    line-height: calc(20rem / var(--global-baseline));
    font-weight: 600;
    height: calc(20rem / var(--global-baseline));
    cursor: pointer;
}

.c-header-gamemode:hover{
    opacity: 0.8;
}

.active{
    background-color: var(--global-color-alpha);
    opacity: 1;
}

.o-hide{
    display: none;
}

.c-grid-players{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: calc(8rem / var(--global-baseline));
}

.c-player{
    min-height: calc(40rem / var(--global-baseline));
    background-color: rgb(237, 238, 250);
    border-radius: calc(4rem / var(--global-baseline));
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    gap: calc(8rem / var(--global-baseline));
    align-items: center;
    padding-right: calc(8rem / var(--global-baseline));
}

.c-player:hover{
    opacity: 0.8;
}

.c-first-player{
    background-color: rgb(216, 175, 55);
}

.c-second-player{
    background-color: rgb(192, 192, 192);
}

.c-third-player{
    background-color: rgb(176, 141, 87);
}

.c-player-number{
    font-size: calc(24em / var(--global-baseline));
    text-align: center;
    font-weight: 600;
}

.c-player-name > h3{
    font-size: calc(24rem / var(--global-baseline));
    font-weight: 400;
}

.c-player-number > img{
    border-radius: calc(4rem / var(--global-baseline));
}

.c-player-score{
    text-align: center;
}



@media (min-width: 768px) {
    .c-player{
        min-height: calc(40rem / var(--global-baseline));
        grid-template-columns: 1fr 8fr 1fr;
    }
    .c-header-gamemodes
    {
        display: flex;
        justify-content: space-between;
    }
    .c-header-gamemode{
        height: calc(32rem / var(--global-baseline));
        font-size: calc(24rem / var(--global-baseline));
        display: flex;
        align-items: center;
    }
    .c-card-scorebord{
        height: calc(560rem / var(--global-baseline));
    }
}