:root {
    --global-baseline: 20;
}

/*
    Component: card player
    ---
    card with player info
*/

.c-card-player{
    background-color: #fff;
    height: calc(200rem / var(--global-baseline));
    width: calc(200rem / var(--global-baseline));
    margin-bottom: calc(24rem / var(--global-baseline));
}

.c-card-player__svg{
    height: calc(160rem / var(--global-baseline));
    width: calc(200rem / var(--global-baseline));
    display: block;
}

.c-card-player__footer{
    height: calc(40rem / var(--global-baseline));
    background-color: var(--global-background-footer-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.c-card-player__Name{
    color: white;
    background-color: transparent;
    border: none;
    /*remove input texture when clicked*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    font-size: calc(20rem / var(--global-baseline));
    font-weight: 600;
    font-family: 'Oxygen', sans-serif;
    width: 60%;
}

.c-card-player__Name::selection{
    background-color: white;
    color: var(--global-background-footer-color);
}

.c-card-player__Name:focus{
    outline: none;
}

.c-player-1__svg{
    fill: var(--global-player1-color);
}

.c-player-2__svg{
    fill: var(--global-player2-color);
}




/* Settings */
.c-card-settings{
    background-color: #fff;
    height: calc(200rem / var(--global-baseline));
    width: calc(200rem / var(--global-baseline));
    padding: calc(8rem / var(--global-baseline));
    /* center content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.c-card-settings > h2{
    color: var(--global-background-footer-color);
    font-size: calc(16rem / var(--global-baseline));
    line-height: calc(24rem / var(--global-baseline));
    font-weight: 600;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
}

.c-card-settings > h3{
    color: var(--global-background-footer-color);
    font-size: calc(16rem / var(--global-baseline));
    line-height: calc(24rem / var(--global-baseline));
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
}





.u-align-content-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.u-center-horizontal
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type=color]{
    width: calc(200rem / var(--global-baseline));
    height: calc(60rem / var(--global-baseline));
    padding: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
}

input[type=color]::-webkit-color-swatch{
    border-radius: calc(15rem / var(--global-baseline));
    border: none;
}

.c-edit-icon
{
    width: calc(28rem / var(--global-baseline));
    height: calc(28rem / var(--global-baseline));
    fill: white;
    cursor: pointer;
}

button{
    font-size: calc(18rem / var(--global-baseline));
    line-height: calc(20rem / var(--global-baseline));
}



.mobile{
    display: block;
}
.tabledVertical{
    display: none;
}
.tabledHorizontal{
    display: none;
}
.laptop{
    display: none;
}

@media (min-width: 500px) {
    .mobile{
        display: none;
    }
    .tabledVertical{
        display: grid;
    }
    .c-card-player{
        /* vertical align items */
        display: flex;
        flex-direction: row;
        width: calc(400rem / var(--global-baseline));
        height: calc(240rem / var(--global-baseline));
    }
    .c-card-player-left{
        background-color: var(--global-color-alpha);
        width: calc(240rem / var(--global-baseline));
        height: calc(240rem / var(--global-baseline));
        /* center elements */
        display: inline-block;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .c-card-player-right{
        width: calc(160rem / var(--global-baseline));
        height: calc(240rem / var(--global-baseline));
        display: inline-block;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .c-card-player-center
    {
        width: calc(240rem / var(--global-baseline));
        height: calc(240rem / var(--global-baseline));
        display: inline-block;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .c-card-player-center > h2{
        color: var(--global-color-alpha);
    }
    .c-card-player-side{
        width: calc(240rem / var(--global-baseline));
        height: calc(240rem / var(--global-baseline));
        display: inline-block;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }
    .c-card-player-side{
        background-color: var(--global-color-alpha);
    }
    .c-card-player-side > *{
        color: var(--global-color-white);
    }
    .c-card-player__svg{
        width: calc(160rem / var(--global-baseline));
        height: calc(240rem / var(--global-baseline));
    }
    h2{
        color: var(--global-color-white);
    }

    /* settings */
    .c-card-settings{
        width: calc(400rem / var(--global-baseline));
        height: auto;
        padding: calc(12rem / var(--global-baseline));
        display: block;
    }
    .c-card-settings > h2{
        font-size: calc(20rem / var(--global-baseline));
        line-height: calc(24rem / var(--global-baseline));
        margin-bottom: calc(12rem / var(--global-baseline));
    }
    .c-card-settings > div > h3{
        font-size: calc(18rem / var(--global-baseline));
        line-height: calc(24rem / var(--global-baseline));
        font-weight: 400;
        margin-bottom: calc(8rem / var(--global-baseline));
        display: inline-block;
    }
    .c-card-settings > div > select{
       display: inline-block;
    }
    button{
        font-size: calc(20rem / var(--global-baseline));
        line-height: calc(24rem / var(--global-baseline));
    }

}


@media (min-width: 1024px)
{
    .tabledVertical
    {
        display: none;
    }
    .tabledHorizontal
    {
        display: grid;
    }
    .c-cards-row
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: calc(60rem / var(--global-baseline));
    }
    .c-cards-row + .c-cards-row
    {
        margin-bottom: 0;
    }
    .c-cards-row > *{
        margin: 0 calc(48rem / var(--global-baseline));
    }
}



@media (min-width: 1440px) {
    /* Player card */
    .c-card-player{
        /* vertical align items */
        display: flex;
        flex-direction: row;
        width: calc(500rem / var(--global-baseline));
        height: calc(300rem / var(--global-baseline));
    }
    .c-card-player-left{
        background-color: var(--global-color-alpha);
        width: calc(300rem / var(--global-baseline));
        height: calc(300rem / var(--global-baseline));
        /* center elements */
        display: inline-block;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .c-card-player-right{
        width: calc(200rem / var(--global-baseline));
        height: calc(300rem / var(--global-baseline));
        display: inline-block;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .c-card-player__svg{
        width: calc(200rem / var(--global-baseline));
        height: calc(300rem / var(--global-baseline));
    }
    h2{
        font-size: calc(36rem / var(--global-baseline));
        line-height: calc(42rem / var(--global-baseline));
    }
    .c-card-player__Name{
        font-size: calc(26rem / var(--global-baseline));
        line-height: calc(30rem / var(--global-baseline));
    }
    input[type=color]{
        width: calc(240rem / var(--global-baseline));
        height: calc(80rem / var(--global-baseline));
    }
    .c-edit-icon
    {
        width: calc(36rem / var(--global-baseline));
        height: calc(36rem / var(--global-baseline));
    }



    /* settings */
    .c-card-settings{
        width: calc(500rem / var(--global-baseline));
        height: auto;
        padding: calc(12rem / var(--global-baseline));
        display: block;
    }
    .c-card-settings > h2{
        font-size: calc(24rem / var(--global-baseline));
        line-height: calc(28rem / var(--global-baseline));
        margin-bottom: calc(12rem / var(--global-baseline));
    }
    .c-card-settings > div > h3{
        font-size: calc(22rem / var(--global-baseline));
        line-height: calc(28rem / var(--global-baseline));
        font-weight: 400;
        margin-bottom: calc(8rem / var(--global-baseline));
        display: inline-block;
    }
    .c-card-settings > div > select{
       font-size: calc(22rem / var(--global-baseline));
    }
    button{
        font-size: calc(24rem / var(--global-baseline));
        line-height: calc(28rem / var(--global-baseline));
    }
}